body {
    background-color: rgb(43, 58, 85);
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* play_ button */

#play-button {
    background-color: rgb(242, 229, 229);
    font-size: 2rem;
    padding: 10px 30px;
    border: none;
    box-shadow: 8px 9px;
}
#play-button:hover {
    background-color: rgb(232, 196, 196);
    box-shadow: 3px 3px 0px 1px;
    border-bottom: 2px solid;
    transform: translate(-2%, 10%);
    cursor: pointer;
}

#play-button:active {
    box-shadow: none;
    transform: translate(-4%, 20%);
}

.blink {
    animation: blink 0.8s linear infinite;
}
@keyframes blink {
    50% {
      opacity: 0;
    }
}

.container .game-container {
    display: flex;
}
.game-container img {
    width: 50px;
    margin: 0.5rem;
}
.game-container ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin: 0;
}
.game-container ul li {
    background-color: rgb(242, 229, 229);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 1px solid;
    box-shadow: 3px 4px;
    padding: 1rem;
}

.game-container p {
    margin: 0.5rem;
}