body {
    background-color: rgb(43, 58, 85);
    height: 100vh;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#play-container {
    flex-direction: column;
    gap: 2rem;
}

#typewriter-effect {
    display: flex;
}

#typewriter-effect h1{
    color: rgb(242, 229, 229);
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: typing 1.4s steps(27, end);
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

button {
    background-color: rgb(242, 229, 229);
    font-size: 2rem;
    padding: 0.8rem 2rem;
    border: 1px solid;
    box-shadow: 8px 9px;
}

button:hover {
    background-color: rgb(232, 196, 196);
    box-shadow: 3px 3px 0px 1px;
    border-bottom: 2px solid;
    transform: translate(-1px, 4px);
    cursor: pointer;
}

button:active {
    box-shadow: none;
    transform: translate(-2px, 12px);
}

.blink {
    animation: blink 0.8s linear infinite;
}
@keyframes blink {
    50% {
      opacity: 0;
    }
}

.game-container .choices {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.game-container button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 11rem;
}

.game-container img {
    width: 50px;
    margin: 1rem;
}

.game-container p {
    margin: 0.5rem;
}

.score {
    display: flex;
    gap: 1rem;
    border: 1px solid;
    background-color: rgb(242, 229, 229);
    margin: 10rem;
    box-shadow: 3px 4px;
}
.score div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.8rem;
}

.score #vs {
    padding: 0;
    margin: 0;
}

.score p {
    margin: 0;
    padding: 0.3rem;
    font-size: 2rem;
}
.score span {
    color: rgb(206, 119, 119);
}